Binaries
DerivedDataCache
Intermediate
Saved
WindowsNoEditor
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcodeproj
*.xcworkspace
WindowsNoEditor/Engine/Extras/Redist/en-us/UE4PrereqSetup_x64.exe
WindowsNoEditor/Manifest_NonUFSFiles_Win64.txt
WindowsNoEditor/TeamHeavenAgile.exe
WindowsNoEditor/TeamHeavenAgile/Content/Paks/TeamHeavenAgile-WindowsNoEditor.pak
